
.homepage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  background: black;
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 6px;
  background-color: #6e27a2;
  color: #FFFFFF;
  font-size: 18px;
  text-align: center;
  padding: 15px;
  width: 200px;
  cursor: pointer;
  transition: all 0.5s;
  margin: 5px;
  overflow: hidden;
  position: relative;
}

.button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #FFD700, #8e44ad); 
  transition: right 0.4s ease-in-out;
}

.button:hover::before {
  right: 0;
}


.principal-title {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
  padding: 0 10%;
}

.color1 {
  color: #d6c4ee;
}

.color2 {
  background: linear-gradient(135deg, #6A0DAD, #32CD32);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.color3 {
  color: #d6c4ee;
}

.principal-text {
  font-size: 1.3rem;
  color: darkgrey;
  text-align: center;
  max-width: 70%;
}


@media screen and (max-width: 768px) {
  .homepage {
    height: auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .principal-title {
    font-size: 50px;
    padding: 0 5%;
  }

  .principal-text {
    font-size: 1.5rem;
    max-width: 70%;  
  }

  .button {
    width: 250px;
    height: 70px;
    font-size: 26px;
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .principal-title {
    font-size: 45px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .principal-text {
    font-size: 1.2rem;
  }

  .button {
    width: 250px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
  }
}