.navbar {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0; 
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: transparent; 
  transition: all 0.4s ease-in-out;
  z-index: 1000;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px; 
  transition: transform 0.4s ease;
}

.logo-text {
  font-size: 1.4rem;
  font-weight: 400;
  margin-left: 10px;
  color: whitesmoke;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.navbar.scrolled {
  background: rgba(30, 30, 30, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  padding: 10px 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 0px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 10px 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links li a:hover {
  color: #734eab;
  transform: translateY(-2px);
}

.menu-toggle {
  display: none;
  font-size: 28px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.menu-toggle:hover{
  color: #734eab;
  transform: translateY(-2px);
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu-toggle:focus {
  outline: none;
  box-shadow: none;
}

.menu-toggle:focus-visible {
  outline: none;
}


@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 88px;
    right: 70px;
    background: rgba(30, 30, 30, 0.9);
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width: 180px;
    border-radius: 15px;
    opacity: 0; 
    transform: translateY(-10px); 
    transition: opacity 0.4s ease, transform 0.4s ease; 
    pointer-events: none;
  }

  .nav-links.open {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; 
  }

  .menu-toggle {
    display: block;
  }
}